<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="BibliotecaEntities" connectionString="metadata=res://*/Biblioteca.csdl|res://*/Biblioteca.ssdl|res://*/Biblioteca.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-RRVJQMV6\SQLEXPRESS;initial catalog=libraryPNC;persist security info=True;user id=sa;password=rootx3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>